* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;      
  justify-content: center;  
  background: linear-gradient(
    135deg,
    #0f2027,
    #203a43,
    #2c5364
  );
  font-family: Arial, sans-serif;
}

.app-container {
  width: 100%;
  max-width: 1100px;   
  margin: 0 auto;
  padding: 40px 20px;
}



.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.auth-card {
  width: 360px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  border-radius: 18px;
  padding: 32px;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.4);
}

.auth-title {
  text-align: center;
  color: #ffffff;
  margin-bottom: 24px;
}

.auth-card input,
.auth-card select {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #c9ef30;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.auth-btn:hover {
  background: #b1d82a;
}

.auth-footer {
  text-align: center;
  margin-top: 18px;
  color: #e0e0e0;
  font-size: 14px;
}

.auth-footer span {
  color: #c9ef30;
  cursor: pointer;
  font-weight: 500;
}
